.kotakHeader
{
    background-color: #7C263D;
    height: 70px;
    width: 1440px;
  
}
.kotakFooter
{
    background-color: #7C263D;
    height: 70px;
    width: 1440px;
  
}
.textstyle
{
    
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-family:'Times New Roman';
    margin-left: 2em;
    line-height: 3em;
}

.flex{
    display: flex;
    
}
.tulisanDetail{
    margin-top: 30px;
    font-stretch: expanded;
    font-size: x-large;
}

